<center><h1>Boxes</h1></center>
<center><p>Check out our different packages below</p></center>
<br><br><br><br><br><br>
<center><table width = 60% border = 0>
    <tr><th><h2>Box</h2></th><th><h2>Contents</h2></th><th><h2>Price (USD)</h2></th></tr>
 <% @boxout.each do|f| %>
    <tr><td><center><%= f.title %></center></td><td><center><%= f.content %></center></td><td><center><%= f.price %></center></td></tr>
    
    
    
    
    
    
    
<% end %>    

</table></center>
    