<center><h1>ThreadBox</h1></center>
<center><p>Fashion forward packages at reasonable prices.</p></center>
<%= link_to "See the different boxes", boxout_outbox_path %>
<br><br><br>
<%= link_to "Maintenance (Administrators Only)", sessions_new_path %>